body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1{
  color: #66BFBF;
  font-size: 5rem;
  margin-top: 40px;
  margin-left: auto;
  margin-bottom: 0;
  margin-right: auto;
  font-family: 'Sacramento', cursive;
}
h2{
  color: #66BFBF;
  font-weight: normal;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}
h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
a{
  color: #11999E;
  text-decoration: none;
  margin: 10px 10px;
  font-family: 'Montserrat', sans-serif;
}
a:hover{
  color: #EAF6F6;
  text-decoration: underline;
}
.middle-container{
  margin: 50px auto;

}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 20px;
}

.top-container{
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
  }

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud{
  position: absolute;
  right: 330px;
  top: 50px;
}
.skill-row{
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.coding{
  width: 25%;
  float: left;
  margin-right: 30px;
}

.technology{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.intro{
  width: 30%;
  margin: auto;
}
p{
  line-height: 2;
  color: #40514E;
}
.profile{
  padding-top: 50px;
}
.myskills{
  margin-bottom: 0;
}
hr{
  border-top: 6px dotted lightgrey;
  width: 5%;
  margin: 80px auto;
}
.c{
  width: 40%;
  margin:40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 1px 1px 3px #666666;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
}
.navbar{
  background-color:  #EAF6F6;
}
